.about_main_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.about_body
	border-left-width 20px!important
	border-right-width 20px!important
	padding-left 20px!important
	padding-right 20px!important