.about_main_title
.jury_title
.team_title
.program_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.about_body
.program_members
	border-left-width 20px!important
	border-right-width 20px!important
	padding-left 20px!important
	padding-right 20px!important

.team_members
	border-left-width 20px!important
	border-right-width 20px!important
	.member_photo
		width 180px!important
		height 180px!important

