.application_main_title
.application_intro_title
.application_intro
.submit_button
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.intro_inner
.application_forms form
	padding-left 20px!important
	padding-right 20px!important

.application_forms
.form_section
	border-left-width 20px!important
	border-right-width 20px!important