.event_main_title
.group_title
.programs_title
.partners_title
.event_title
.blocks_title
.event_main_block
.summary_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.cover_item
.schedule_meta
.schedule_buy
.event_body
.group_description
.group_list
.programs_items
.blocks_items
.event_events
.summary_events
.partners_list
	border-left-width 20px!important
	border-right-width 20px!important

.event_title
	font-size 18pt!important
	line-height 20pt!important

.event_item
	box-sizing border-box!important
	padding-left 20px!important
	padding-right 20px!important

.block_item
.program_item
	font-size 18pt!important
	line-height 20pt!important
	span
		width 180px!important
		height 180px!important

.summary_events
	padding-left 10px!important
	padding-right 10px!important
	.event_item
		width 100%!important