.title_block
	.logo_block img
		height 40px!important

	.menu_block
		display none!important

	.menu_drop
		display block!important


.content_block
	margin-top 40px!important


.title_block, .support_block, .mailing_block, .footer_block
	border-left-width 20px!important
	border-right-width 20px!important


.footer_block
	.mailing_block
		.email
			text-align center
			max-width 220px!important
			margin-right 0!important
		.submit
			margin-top 15px!important

	.partners_block
		.type_title, .type_list
			border-left-width 20px!important
			border-right-width 20px!important

	.social_block
		display block!important
		text-align center!important
		border-left-width 20px!important
		border-right-width 20px!important
		a
			margin-top 10px!important
			margin-bottom 10px!important
			width 35%!important
			display inline-block!important
			text-align center!important