.banner_block
.video_block
.news_posts
.news_more
	border-left-width 20px!important
	border-right-width 20px!important

.news_title
.program_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.news_posts
	padding-left 10px!important
	padding-right 10px!important
	.post_item
		width 100%!important

.program_nanv
	padding 20px!important
	margin 20px!important
	.nav_column
		display block!important
		.nav_title
			display block!important
			text-align center!important
		.nav_all
			display none!important
			text-align center!important
		.nav_head
			display block!important
		.nav_items
			display none!important
		&.open
			.nav_title
				display none!important
			.nav_all
				display block!important
			.nav_items
				display block!important

.program_events
	margin 20px!important
	margin-bottom 0!important
	.cover_title
		font-size 18pt!important
		line-height 20pt!important
