.video_block
	border-left-width 20px!important
	border-right-width 20px!important

.program_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.program_nanv
	padding 20px!important
	margin 20px!important

.program_events
	margin 20px!important
	margin-bottom 0!important

