.member_main_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.member_body
	border-left-width 20px!important
	border-right-width 20px!important

.member_photo
	width 180px!important
	height 180px!important