.news_main_title
.date_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.news_more
	border-left-width 20px!important
	border-right-width 20px!important

.news_posts
	border-left 20px!important
	border-right 20px!important
	margin 20px!important
	margin-top 0!important
	margin-bottom 0!important
	padding-left 10px!important
	padding-right 10px!important
	.post_item
		width 100%!important
		margin-bottom 20px!important
		.post_title
			font-size 18pt!important
			line-height 20pt!important

