.opencall_main_title
.opencall_description
.opencall_application
.complete_title
.team_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.opencall_description
.complete_text
	border-left-width 20px!important
	border-right-width 20px!important
	padding-left 20px!important
	padding-right 20px!important

.application_button
	font-size 18pt!important
	line-height 20pt!important

.team_members
	border-left-width 20px!important
	border-right-width 20px!important
	.member_photo
		width 180px!important
		height 180px!important
