.opencall_main_title
.opencall_description
.opencall_application
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.opencall_description
	padding-left 20px!important
	padding-right 20px!important

.application_button
	font-size 18pt!important
	line-height 20pt!important