.post_main_title
.post_main_date
.post_cover
.summary_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.post_body
.summary_posts
	border-left-width 20px!important
	border-right-width 20px!important


.post_body
	padding-left 20px!important
	padding-right 20px!important

.summary_posts
	padding-left 10px!important
	padding-right 10px!important
	.post_item
		width 100%!important

