.program_main_title
.program_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important


.programs_list
	border-left-width 20px!important
	border-right-width 20px!important
	.program_item
		display block!important
		width auto!important
		.program_inner
			padding-top 80px!important
			padding-bottom 80px!important
			.program_text
				position relative!important
				span
					top auto!important


.program_body
	border-left-width 20px!important
	border-right-width 20px!important


.program_body
	.program_title
		margin-left -20px!important
		margin-right -20px!important

