.program_main_title
.programs_title
.partners_title
.program_title
	font-size 18pt!important
	line-height 20pt!important
	border-left-width 20px!important
	border-right-width 20px!important

.program_body
.program_cover
.program_description
.program_also_blocks
.program_also_programs
.programs_items
.partners_list
	border-left-width 20px!important
	border-right-width 20px!important

.block_item
.program_item
	font-size 18pt!important
	line-height 20pt!important
	span
		width 180px!important
		height 180px!important



.program_body
	.program_title
		margin-left -20px!important
		margin-right -20px!important

