@font-face {
  font-family: 'Panama Regular';
  src: url('/libs/fonts/PanamaRegular.woff');
}

@font-face {
  font-family: 'Pragmatica Book';
  src: url('/libs/fonts/PragmaticaBook.woff');
}

@font-face {
  font-family: 'Panamatica Regular';
  src: url('/libs/fonts/PanamaticaRegular.ttf');
}