@media screen and (max-width: 840px)
	@import 'mobile/_about.styl'

.content_block
	background-color #ff3333

.about_main_title
	text-align center
	background-color black
	color #c8c8c8
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box

.about_body
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #c8c8c8
	border-style solid
	box-sizing border-box
	padding-left 25px
	padding-right 25px

.about_logo
	display block
	max-width 800px
	margin 0 auto
	padding-top 20px


.about_description
	font-size 14pt
	line-height 16pt
	font-family 'Panama Regular'
	color #c8c8c8
	text-align left
	max-width 800px
	margin 0 auto
	padding-top 20px
	padding-bottom 20px

