@media screen and (max-width: 840px)
	@import 'mobile/_application.styl'

.content_block
	background-color #c8c8c8

.application_main_title
	text-align center
	background-color #ff3333
	color black
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color black
	border-style solid
	box-sizing border-box

.application_intro_title
	text-align center
	background-color black
	color #c8c8c8
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #c8c8c8
	border-style solid
	box-sizing border-box

.application_intro
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #00c641
	border-style solid
	box-sizing border-box
	.intro_inner
		padding-top 40px
		padding-bottom 40px
		width 100%
		max-width 800px
		margin 0 auto
		font-family 'Panama Regular'
		font-size 16pt
		line-height 18pt
		padding-left 25px
		padding-right 25px
		box-sizing border-box
		hyphens auto

.application_forms
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #00c641
	border-style solid
	box-sizing border-box
	form
		width 100%
		max-width 800px
		margin 0 auto
		padding-left 25px
		padding-right 25px
		box-sizing border-box
		.form_section
			max-width none!important
			width 100vw
			margin-left: calc((100% - 100vw) / 2)

			margin-bottom 40px
			text-align center
			background-color black
			color #c8c8c8
			font-size 22pt
			line-height 24pt
			font-family 'Panamatica Regular'
			text-transform uppercase
			padding-top 12px
			padding-bottom 10px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #c8c8c8
			border-style solid
			box-sizing border-box
		.form_title
			width 100%
			margin-bottom 10px
			font-family 'Pragmatica Book'
			font-size 16pt
			line-height 18pt
			text-transform uppercase
			div
				text-transform lowercase
				font-family 'Panama Regular'
		.form_value
			display block
			margin 0
			outline none
			border none
			margin-bottom 40px
			padding 5px
			padding-left 15px
			padding-right 15px
			box-sizing border-box
			background-color black
			color #00c641
			width 100%
			font-family 'Panama Regular'
			font-size 16pt
			line-height 18pt
		textarea.form_value
			min-height 135px

	.form_submit
		.submit_button
			text-transform uppercase
			max-width 800px
			width 100%
			box-sizing border-box
			display block
			margin 0 auto
			background-color black
			text-align center
			padding 10px
			text-decoration none
			color #c8c8c8
			font-family 'Panamatica Regular'
			font-size 22pt
			line-height 24pt
			margin-top 80px
			cursor default
			&.active
				cursor pointer
				background-color black
				color #00c641
				&:hover
					color black
					background-color #00c641
		.submit_confirm
			margin-top 10px
			padding-bottom 40px
			font-family 'Panama Regular'
			font-size 14pt

