@media screen and (max-width: 840px)
	@import 'mobile/_event.styl'


.content_block
	margin-top 50px

.event_title
	text-align center
	background-color #c8c8c8
	color #ff3333
	font-size 30pt
	line-height 20pt
	font-family 'Panamatica Regular'
	text-transform lowercase
	padding-top 20px
	padding-bottom 20px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color black
	border-style solid
	box-sizing border-box

.event_cover
	width 100%
	.cover_item
		width 100%
		padding-top 40%
		position relative
		background-size cover
		background-position center
		background-repeat no-repeat

.event_schedule
	.schedule_item
		text-align center
		font-size 14pt
		line-height 16pt
		font-family 'Panama Regular'
		.schedule_meta
			padding-top 5px
			padding-bottom 5px
			background-color black
			color #c8c8c8
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #ff3333
			border-style solid
			box-sizing border-box
		.schedule_buy
			padding-top 5px
			padding-bottom 5px
			background-color #00c641
			color black
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color black
			border-style solid
			box-sizing border-box
			text-transform uppercase
			cursor pointer
			&:hover
				background-color #c8c8c8
				color #ff3333







