@media screen and (max-width: 840px)
	@import 'mobile/_event.styl'


.content_block
	margin-top 50px
	background-color #ff3333

.event_title
	text-align center
	background-color #c8c8c8
	color #ff3333
	font-size 30pt
	line-height 32pt
	font-family 'Panamatica Regular'
	text-transform lowercase
	padding-top 10px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color black
	border-style solid
	box-sizing border-box

.event_cover
	width 100%
	.cover_item
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #c8c8c8
		border-style solid
		box-sizing border-box
		width 100%
		padding-top 40%
		position relative
		background-size cover
		background-position center
		background-repeat no-repeat

.event_schedule
	.schedule_item
		text-align center
		font-size 14pt
		line-height 16pt
		font-family 'Panama Regular'
		.schedule_meta
			padding-top 5px
			padding-bottom 5px
			background-color black
			color #c8c8c8
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #ff3333
			border-style solid
			box-sizing border-box
		.schedule_buy
			padding-top 5px
			padding-bottom 5px
			background-color #00c641
			color black
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color black
			border-style solid
			box-sizing border-box
			text-transform uppercase
			cursor pointer
			&:hover
				background-color #c8c8c8
				color #ff3333


.event_body
	color #c8c8c8
	background-color #ff3333
	font-size 14pt
	line-height 16pt
	font-family 'Panama Regular'
	padding-top 10px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #c8c8c8
	border-style solid
	padding-left 25px
	padding-right 25px
	box-sizing border-box
	.event_video, .event_age, .event_description, .event_intro
		max-width 800px
		margin 0 auto
		padding-top 10px
		padding-bottom 10px
	.event_video
		width 100%
		.video_inner
			position relative
			padding-bottom 56.25% /* 16:9 */
			padding-top 0px
			height 0
			.video
				position absolute
				top 0
				left 0
				width 100%
				height 100%


.event_members
	text-align center
	font-size 14pt
	line-height 16pt
	font-family 'Panama Regular'
	background-color #ff3333
	color #c8c8c8
	.members_group
		overflow hidden
		&:last-child
			margin-bottom 0
		.group_title
			text-align center
			background-color #c8c8c8
			color #ff3333
			font-size 30pt
			line-height 32pt
			font-family 'Panamatica Regular'
			text-transform lowercase
			padding-top 10px
			padding-bottom 10px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color black
			border-style solid
			box-sizing border-box
		.group_description
			padding-left 25px
			padding-right 25px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #c8c8c8
			border-style solid
			box-sizing border-box
			.description_inner
				text-align left
				max-width 800px
				margin 0 auto
				padding-top 20px
				padding-bottom 20px
		.group_list
			padding-bottom 20px
			display flex
			justify-content center
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #c8c8c8
			border-style solid
			box-sizing border-box
			.list_item
				color #c8c8c8
				text-decoration none
				.item_photo
					margin-left 20px
					margin-right 20px
					box-shadow: 0 0 10px rgba(0,0,0,1);
					width 160px
					height 160px
					border-radius 100%
					background-size cover
					background-position center
					background-repeat no-repeat
				.item_name
					margin-top 20px
					font-size 14pt
					line-height 16pt
					text-transform uppercase
					font-family 'Pragmatica Book'
				.item_roles
					.item_role
						margin-top 5px


.event_partners
	text-align center
	font-size 14pt
	line-height 16pt
	font-family 'Panama Regular'
	background-color #c8c8c8
	color #ff3333
	.partners_title
		text-align center
		color #c8c8c8
		background-color #ff3333
		font-size 30pt
		line-height 32pt
		font-family 'Panamatica Regular'
		text-transform lowercase
		padding-top 10px
		padding-bottom 10px
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color black
		border-style solid
		box-sizing border-box
	.partners_list
		padding-top 20px
		padding-bottom 20px
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #ff3333
		border-style solid
		box-sizing border-box
		.partner_item
			display inline-block
			text-align center
			display inline-block
			vertical-align top
			margin-left 20px
			margin-right 20px
			text-decoration none
			color black
			.partner_logo
				height 80px
			.partner_type
				margin-top 10px


// .event_events
// 	.event_item
// 		.event_poster
// 		.event_title

.event_also_blocks
	.blocks_title
		text-align center
		font-family 'Panamatica Regular'
		text-transform lowercase
		font-size 30pt
		line-height 32pt
		padding-top 10px
		padding-bottom 10px
		background-color black
		color #c8c8c8
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #00c641
		border-style solid
		box-sizing border-box
	.blocks_items
		text-align center
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #c8c8c8
		border-style solid
		box-sizing border-box
		.block_item
			margin-top 20px
			margin-bottom 20px
			margin-left 10px
			margin-right 10px
			box-shadow: 0 0 10px rgba(0,0,0,1);
			text-decoration none
			font-family 'Panamatica Regular'
			text-transform lowercase
			font-size 30pt
			line-height 32pt
			width 220px
			height 220px
			background-color black
			color #c8c8c8
			text-align center
			display inline-block
			vertical-align top
			&:hover
				background-color #c8c8c8
				color #ff3333
			&:before
				content ''
				height 100%
				display inline-block
				vertical-align middle
			span
				display inline-block
				vertical-align middle

.event_also_programs
	.programs_title
		text-align center
		font-family 'Panamatica Regular'
		text-transform lowercase
		font-size 30pt
		line-height 32pt
		padding-top 10px
		padding-bottom 10px
		background-color black
		color #c8c8c8
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #00c641
		border-style solid
		box-sizing border-box
	.programs_items
		text-align center
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #c8c8c8
		border-style solid
		box-sizing border-box
		.program_item
			border-radius 100%
			margin-top 20px
			margin-bottom 20px
			margin-left 10px
			margin-right 10px
			box-shadow: 0 0 10px rgba(0,0,0,1);
			text-decoration none
			font-family 'Panamatica Regular'
			text-transform lowercase
			font-size 22pt
			line-height 24pt
			width 220px
			height 220px
			background-color black
			color #c8c8c8
			text-align center
			display inline-block
			vertical-align top
			&:hover
				background-color #c8c8c8
				color #ff3333
			&:before
				content ''
				height 100%
				display inline-block
				vertical-align middle
			span
				display inline-block
				vertical-align middle



