@media screen and (max-width: 840px)
	@import 'mobile/_event.styl'


.event_title

.event_cover
	.cover_item


.event_schedule
	.schedule_item
		.schedule_meta
			.meta_date
			.meta_place
	.schedule_buy