@media screen and (max-width: 840px)
	@import 'mobile/_jury.styl'

.content_block
	background-color black


.jury_main_title
	text-align center
	color #c8c8c8
	background-color black
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #c8c8c8
	border-style solid
	box-sizing border-box


.programs_block
	.program_item
		.program_title
			text-align center
			color black
			background-color #c8c8c8
			font-size 22pt
			line-height 24pt
			font-family 'Panamatica Regular'
			text-transform uppercase
			padding-top 12px
			padding-bottom 10px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color black
			border-style solid
			box-sizing border-box
		.program_members
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #ff3333
			border-style solid
			box-sizing border-box
			padding-top 20px
			padding-bottom 20px
			.members_inner
				max-width 800px
				margin 0 auto
				text-align center
				.member_item
					display inline-block
					text-align center
					text-decoration none
					margin 20px
					.member_photo
						width 200px
						height 200px
						border-radius 100%
						background-size cover
						background-position center
						background-repeat no-repeat
					.member_title
						margin-top 10px
						font-size 14pt
						line-height 16pt
						font-family 'Panama Regular'
						color #c8c8c8




