@media screen and (max-width: 840px)
	@import 'mobile/_main.styl'

.video_block
	background-color #00c641
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-style solid
	border-color #c8c8c8
	box-sizing border-box
	video
		width 100%


.news_title
	text-align center
	background-color #ff3333
	color #c8c8c8
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color black
	border-style solid
	box-sizing border-box

.news_posts
	background-color #c8c8c8
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box
	padding-left 15px
	padding-right 15px
	padding-top 15px
	.post_item
		display inline-block
		vertical-align top
		width 25%
		margin-bottom 20px
		color black
		text-decoration none
		.post_inner
			padding 10px
		.post_title
		.post_poster
			border-radius 8px
			box-shadow: 0 0 10px rgba(0,0,0,1);
		.post_poster
			width 100%
			padding-top 60%
			background-size cover
			background-position center
			background-repeat no-repeat
		.post_title
			width 100%
			color #c8c8c8
			background-color #ff3333
			font-family 'Panamatica Regular'
			text-transform uppercase
			font-size 22pt
			line-height 24pt
			text-align center
			padding-top 62px
			padding-bottom 58px
			hyphens auto
		.post_date
			margin-top 15px
			font-size 14pt
			line-height 16pt
			font-family 'Pragmatica Book'
		.post_s_title
			font-size 14pt
			line-height 16pt
			font-family 'Panama Regular'


.news_more
	text-align center
	padding-top 20px
	padding-bottom 40px
	background-color #c8c8c8
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box
	a
		text-decoration none
		margin 10px
		font-size 14pt
		line-height 16pt
		font-family 'Panama Regular'
		padding 10px
		color #c8c8c8
		background-color black
		&:hover
			color #00c641


.program_block
	background-color #ff3333
	.program_title
		text-align center
		background-color black
		color #c8c8c8
		font-size 22pt
		line-height 24pt
		font-family 'Panamatica Regular'
		text-transform uppercase
		padding-top 12px
		padding-bottom 10px
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color #00c641
		border-style solid
		box-sizing border-box
	.program_nanv
		padding 25px
		margin 25px
		background-color black
		color #c8c8c8
		.nav_column
			margin-bottom 10px
			display table
			&:last-child
				margin-bottom 0
			.nav_title
				display none
			.nav_head
			.nav_items
				display table-cell
			.nav_all
			.nav_item
			.nav_title
				cursor pointer
				margin 10px
				font-size 14pt
				line-height 16pt
				font-family 'Panama Regular'
				&:hover
				&.active
					color #00c641
			.nav_item
				display inline-block
			.nav_title
				margin 0
				padding 10px
				background-color #c8c8c8
				color black
				&:hover
					color black
					background-color #00c641
			.nav_all
				margin 0
				padding 10px
				color black
				background-color #00c641
				&.active
					background-color #c8c8c8
					color black
					&:hover
						color black
						background-color #00c641
				&:hover
					color black
					background-color #c8c8c8


.program_events
	margin 25px
	margin-bottom 0
	.event_item
		color #c8c8c8
		font-size 14pt
		line-height 16pt
		text-decoration none
		.event_cover
			position relative
			.cover_marker
				font-family 'Pragmatica Book'
				color black
				text-transform uppercase
				background-color #ff3333
				position absolute
				padding 5px
				padding-bottom 2px
				right 10px
				top 10px
			.cover_title
			.cover_image
				width 100%
				display block
				border-radius 8px
				background-color black
				box-shadow: 0 0 10px rgba(0,0,0,1);
			.cover_title
				font-family 'Panamatica Regular'
				text-transform uppercase
				font-size 22pt
				line-height 24pt
				text-align center
				padding-top 62px
				padding-bottom 58px
				hyphens auto
			.cover_buy
				border-radius 0 0 8px 8px
				font-family 'Panama Regular'
				text-transform uppercase
				display none
				background-color #00c641
				color black
				text-align center
				box-sizing border-box
				padding 10px
				width 100%
				position absolute
				bottom 0
				cursor pointer
				&:hover
					background-color #c8c8c8
					color #ff3333
		&:hover .cover_buy
			display block
		.event_schedule
			margin-top 15px
			font-family 'Panama Regular'
			display flex
			.schedule_date
				&:after
					display inline-block
					margin-left 5px
					margin-right 5px
					content ' | '
		.event_program
			margin-top 5px
			font-family 'Panama Regular'
		.event_title
			margin-top 5px
			font-family 'Pragmatica Book'
			text-transform uppercase








