.content_block
	background-color black


.member_main_title
	text-align center
	color #c8c8c8
	background-color black
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 10px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #c8c8c8
	border-style solid
	box-sizing border-box


.member_body
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box
	.body_inner
		max-width 800px
		margin 0 auto
		.member_photo
			margin-top 20px
			width 240px
			height 240px
			margin 0 auto
			border-radius 100%
			background-size cover
			background-position center
			background-repeat no-repeat
		.member_roles
			margin-top 20px
			font-size 14pt
			line-height 16pt
			color #c8c8c8
			text-align center
			font-family 'Panama Regular'
			.member_role
				display inline-block
				&:after
					content ','
				&:last-child:after
					content ''

		.member_description
			margin-top 20px
			font-size 14pt
			line-height 16pt
			color #c8c8c8
			font-family 'Panama Regular'

		.member_events
			margin-top 40px
			.event_item
				padding-bottom 40px
				display block
				text-align center
				text-decoration none
				.event_poster
					width 100%
					border-radius 8px
				.event_program
					margin-top 5px
					font-size 14pt
					line-height 16pt
					color #c8c8c8
					font-family 'Panama Regular'
				.event_title
					margin-top 5px
					font-size 14pt
					line-height 16pt
					color #c8c8c8
					text-transform uppercase
					font-family 'Pragmatica Book'


