@media screen and (max-width: 840px)
	@import 'mobile/_news.styl'


.content_block
	background-color #ff3333


.news_main_title
	text-align center
	color #c8c8c8
	background-color black
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box

.news_posts
	background-color #c8c8c8
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box
	padding-left 15px
	padding-right 15px
	.date_title
		width 100vw
		margin-left: calc((100% - 100vw) / 2)
		text-align center
		color #c8c8c8
		background-color #ff3333
		font-size 22pt
		line-height 24pt
		font-family 'Panamatica Regular'
		text-transform uppercase
		margin-bottom 15px
		padding-top 12px
		padding-bottom 10px
		border-top 0
		border-bottom 0
		border-left 25px
		border-right 25px
		border-color black
		border-style solid
		box-sizing border-box
	.post_item
		display inline-block
		vertical-align top
		width 25%
		margin-bottom 40px
		color black
		text-decoration none
		.post_inner
			padding 10px
		.post_title
		.post_poster
			border-radius 8px
			box-shadow: 0 0 10px rgba(0,0,0,1);
		.post_poster
			width 100%
			padding-top 60%
			background-size cover
			background-position center
			background-repeat no-repeat
		.post_title
			width 100%
			color #c8c8c8
			background-color #ff3333
			font-family 'Panamatica Regular'
			text-transform uppercase
			font-size 22pt
			line-height 24pt
			text-align center
			padding-top 62px
			padding-bottom 58px
			hyphens auto
		.post_date
			margin-top 15px
			font-size 14pt
			line-height 16pt
			font-family 'Pragmatica Book'
		.post_s_title
			font-size 14pt
			line-height 16pt
			font-family 'Panama Regular'


.news_more
	text-align center
	padding-top 30px
	padding-bottom 30px
	&.hide
		display none
	span
		cursor pointer
		margin 10px
		font-size 14pt
		line-height 16pt
		font-family 'Panama Regular'
		padding 10px
		color black
		background-color #00c641
		&:hover
			color black
			background-color #c8c8c8



