@media screen and (max-width: 840px)
	@import 'mobile/_opencall.styl'

.content_block
	background-color #c8c8c8

.opencall_main_title
	text-align center
	background-color #ff3333
	color black
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color black
	border-style solid
	box-sizing border-box

.opencall_description
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #00c641
	border-style solid
	box-sizing border-box
	padding-left 25px
	padding-right 25px
	padding-top 40px
	.description_inner
		width 100%
		max-width 800px
		margin 0 auto
		font-family 'Panama Regular'
		font-size 16pt
		line-height 18pt
		hyphens auto


.opencall_application
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #00c641
	border-style solid
	box-sizing border-box
	padding-left 25px
	padding-right 25px
	padding-top 40px
	padding-bottom 40px
	.application_button
		display block
		margin 0 auto
		max-width 800px
		width 100%
		color #00c641
		text-transform uppercase
		text-align center
		padding 10px
		box-sizing border-box
		text-decoration none
		background-color black
		font-family 'Panamatica Regular'
		font-size 22pt
		line-height 24pt
		&:hover
			color black
			background-color #00c641

