@media screen and (max-width: 840px)
	@import 'mobile/_partners.styl'

.content_block
	margin-top 50px
	background-color #ff3333

.partners_types
	.partner_type
		.type_title
			text-align center
			color #c8c8c8
			background-color #ff3333
			font-size 30pt
			line-height 32pt
			font-family 'Panamatica Regular'
			text-transform uppercase
			padding-top 10px
			padding-bottom 10px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color black
			border-style solid
			box-sizing border-box
		.type_list
			background-color #c8c8c8
			text-align center
			padding-top 40px
			padding-bottom 40px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-color #ff3333
			border-style solid
			box-sizing border-box
			.partner_item
				display inline-block
				text-align center
				margin-left 20px
				margin-right 20px
				.partner_logo
					display block
					height 80px