@media screen and (max-width: 840px)
	@import 'mobile/_programs.styl'

.content_block
	background-color #ff3333

.program_main_title
	text-align center
	background-color black
	color #c8c8c8
	font-size 22pt
	line-height 24pt
	font-family 'Panamatica Regular'
	text-transform uppercase
	padding-top 12px
	padding-bottom 10px
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #ff3333
	border-style solid
	box-sizing border-box


.programs_list
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-color #c8c8c8
	border-style solid
	box-sizing border-box
	.programs_inner
		max-width 800px
		margin 0 auto
		padding 10px
		box-sizing border-box
		.program_item
			width 33.333333333%
			display inline-block
			vertical-align top
			font-size 0
			text-decoration none
			box-sizing border-box
			padding 15px
			.program_inner
				padding-top 200%
				box-shadow: 0 0 10px rgba(0,0,0,1);
				border-radius 8px
				background-size cover
				background-position center
				background-repeat no-repeat
				position: relative
				.program_text
					position absolute
					top 0; left 0; right 0; bottom 0
					text-align center
					span
						padding 10px
						text-align center
						position relative
						top 40%
						hyphens auto
						font-family 'Panamatica Regular'
						color #00c641
						font-size 22pt
						line-height 24pt
						text-transform uppercase



.program_body
	border-top 0
	border-bottom 0
	border-left 25px
	border-right 25px
	border-style solid
	border-color #c8c8c8
	box-sizing border-box
	.program_item
		.program_title
			text-align center
			color #c8c8c8
			background-color black
			font-size 22pt
			line-height 24pt
			font-family 'Panamatica Regular'
			text-transform uppercase
			padding-top 12px
			padding-bottom 10px
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			margin-left -25px
			margin-right -25px
			border-color #00c641
			border-style solid
			box-sizing border-box
			margin-bottom 30px
		.program_events
			width 100%
			border-top 0
			border-bottom 0
			border-left 25px
			border-right 25px
			border-style solid
			border-color #ff3333
			box-sizing border-box
			.event_item
				color #c8c8c8
				font-size 14pt
				line-height 16pt
				text-decoration none
				.event_cover
					position relative
					.cover_marker
						font-family 'Pragmatica Book'
						color black
						text-transform uppercase
						background-color #ff3333
						position absolute
						padding 5px
						padding-bottom 2px
						right 10px
						top 10px
					.cover_title
					.cover_image
						width 100%
						display block
						border-radius 8px
						background-color black
						box-shadow: 0 0 10px rgba(0,0,0,1);
					.cover_title
						font-family 'Panamatica Regular'
						text-transform uppercase
						font-size 22pt
						line-height 24pt
						text-align center
						padding-top 62px
						padding-bottom 58px
						hyphens auto
				.event_title
					margin-top 15px
					font-family 'Pragmatica Book'
					text-transform uppercase




