extends layout

block header_meta
	- var content_title= 'MIEFF | ' + __('О Фестивале')
	- var content_description= ''

block header_include
	//- - var include_libs_css = []
	- var include_css = ['about.css']
	//- - var include_libs_js = []
	- var include_js = ['about.js']


block content
	h1 About!