extends layout

block header_meta
	- var content_title= 'mieff'
	- var content_description= ''

block header_include
	- var include_css = ['events.css']
	- var include_js = ['events.js']


block content
	h1 Events!