extends layout

block header_meta
	- var content_title= __('mieff')
	- var content_description= ''
	- var content_images = ''

block header_include
	//- - var include_libs_css = ['']
	- var include_css = ['main.css']
	- var include_libs_js = ['macy.js']
	- var include_js = ['main.js']


block content
	img(src='/stuff/mieff/logo/mieff.svg')