extends layout

block header_meta
	- var content_title= 'MIEFF | ' + __('Жюри')
	- var content_description= ''

block header_include
	- var include_css = ['jury.css']
	//- - var include_libs_js = []
	- var include_js = ['jury.js']


block content
	.programs_block
		each program in programs
			.program_item
				.program_title= program.i18n.title.get(locale)
				.program_members
					each member in program.members
						.member_item
							.member_photo(style='background-image: url(' + member.photo + ')')
							.member_title= member.i18n.name.get(locale)

