doctype html
html
	head
		include header
	body
		.maket_block
			.title_block
				img.logo_block(src='/stuff/mieff/logo/mieff.svg')

				.menu_block
					a(href='/program') Programm
					a(href='/about') About
					a(href='https://money.yandex.ru/to/4100112187266456', target='_blank') Support MIEFF

				a.locale_block(href='/lang/en') En

			.content_block
				block content

			.footer_block
				.social_block
					a(href='https://www.facebook.com/MIEFFESTIVAL', target='_blank') Facebook
					a(href='https://www.instagram.com/mieff_festival/?hl=ru', target='_blank') Instagram
					a(href='https://vk.com/mieff', target='_blank') VKontakte
					a(href='https://www.youtube.com/channel/UChkh9UIV7qqoS45sevM1-Xg', target='_blank') Youtube
					a(href='http://archive.mieff.com', target='_blank') Архив