extends layout

block header_meta
	- var content_title= 'MIEFF | Open Call'
	- var content_description= ''

block header_include
	//- - var include_libs_css = []
	- var include_css = ['opencall.css']
	//- - var include_libs_js = []
	//- - var include_js = ['opencall.js']


block content
	.opencall_main_title= __('OPEN CALL')

	.opencall_description: .description_inner
		p Команда фестиваля MIEFF приглашает молодых фильммейкерок/ов и видеохудожниц/ков принять участие в междисциплинарной образовательной программе ... , которая пройдет в рамках специальной программы VII Московской международной биеннале молодого искусства с 3 ноября по 6 декабря в Музее Москвы.
		p ... - это образовательная программа, смешивающая актуальную теорию и экспериментальные практики и нацеленная на расширение представлений студентов о том, каким может быть кино и движущееся изображение.
		p Чтобы создать диалог между существующими школами и их подходами, а также людьми, не принадлежащими к институциям, чтобы повысить эстетическую и политическую осознанность, расшатать догматическое мышление и освободить от внутренних ограничений, эта программа объединит неоднородную группу участников для совместного поиска новых форм и смыслов. Работая в группе вместе с практикующими филммейкерками/ами и художницами/ками, студенты познакомятся с тем, как телесные практики и эксперименты со звуком, постколониальная теория и феминизм, идеи постгуманизма, работа с архивами и found footage, собственная история и мифология могут существовать в пространстве кино и открывать альтернативные возможности художественной практики. Эта программа обращается к сокрытому, неоднозначному, периферийному, к созданию сообществ, построенных на коллективном творчестве и 22.08 (19:00) взаимоподдержке, к мягкой силе и осознанному сопротивлению доминантным нормам и властным структурам.
		p Среди преподавателей Сара Кульманн, Ребекка Бэрон, Саша Литвинцева, Саодат Исмаилова, Дина Караман, Женя Мякишева, Ольга Шишко и другие.

	a.opencall_application(href='/opencall/application') Заполнить анкету

