extends layout

block header_meta
	- var content_title= 'MIEFF | Open call'
	- var content_description= ''

block header_include
	//- - var include_libs_css = []
	- var include_css = ['opencall.css']
	//- - var include_libs_js = []
	//- - var include_js = ['opencall.js']


block content
	.opencall_main_title= 'Open call'

	if complete
		.opencall_complete
			.complete_title= __('Ваша заявка принята!')
			.complete_text: .text_inner= __('Результаты отбора и имена участников будут объявлены 28 октября 2020 г.')
	else
		.opencall_description: .description_inner!= desc

		.opencall_application: a.application_button(href='/opencall/application')= __('Заполнить анкету')

