extends layout

block header_meta
	- var content_title= 'MIEFF | ' + post_item.i18n.title.get(locale)
	- var content_description = ''
	- var content_images = [post_item.poster]

block header_include
	- var include_css = ['post.css']
	- var include_js = ['post.js']


block content
	.post_main_title= post_item.i18n.title.get(locale)

	.post_date= moment(post_item.date).locale(locale).format('DD.MM.YYYY')
	if post_item.cover
		.post_cover(style='background-image: url(' + post_item.cover + ')')
	//- .post_title= post_item.i18n.title.get(locale)
	.post_body
		.post_description!= post_item.i18n.description.get(locale)
		.post_share
			.share_title= __('Поделиться')
			.share_buttons
				img.s_button(social='fb', src='/stuff/mieff/social/facebook.svg')
				img.s_button(social='twitter', src='/stuff/mieff/social/twitter.svg')
				img.s_button(social='vk', src='/stuff/mieff/social/vk.svg')
