extends layout

block header_meta
	- var content_title= 'MIEFF'
	- var content_description= ''

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['program.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['program.js']


block content
	h1 Program!