extends layout

block header_meta
	- var content_title= 'MIEFF | ' + __('Программа')
	- var content_description= ''

block header_include
	//- - var include_libs_css = []
	- var include_css = ['programs.css']
	- var include_libs_js = ['macy.js']
	- var include_js = ['programs.js']


block content
	.widget_block: .widget_inner

	.program_main_title= __('Программа')

	.programs_list: .programs_inner
		each program in programs
			a.program_item(href='/program/' + (program.sym ? program.sym : program._short_id))
				.program_inner(style='background-image: url(' + program.poster + ')'): .program_text
					span= program.i18n.title.get(locale)

	if programs.length > 0
		.program_body

