extends layout

block header_meta
	- var content_title= 'mieff'
	- var content_description= ''

block header_include
	- var include_css = ['schedule.css']
	- var include_libs_js = ['js.cookie.js']
	- var include_js = ['schedule.js']


block content
	h1 Schedule!