extends ../layout
include ../_forms.pug

block header_meta
	- var content_title= 'ЗАЯВКА'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/applications') Назад
	//- span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title

		each form in application.text
			h3.form_name= form.name
			.form_value!= form.value.replace(/\n/g, '<br>')

		.form_title Файлы:
		ul
		each form in application.files
			li: a(href=form.path, target='_blank'): b(style='font-size: 16pt')= form.name

		form(action="", method="post")
			.form_title Дата публикации:
			+form_date('date', application.date)

