doctype html
html
	head
		include header
	body
		.main_block
			.header_block
				.menu_block
					.logo
						a(href='/') MIEFF
						span= ' | '
						a(href='/admin') STARGAZER
					a(href='/admin/users') ПОЛЬЗОВАТЕЛИ
					a(href='/admin/posts') НОВОСТИ
					a(href='/admin/events') СОБЫТИЯ
					a(href='/admin/programs') ПРОГРАММЫ
					a(href='/admin/places') ПЛОЩАДКИ
					a(href='/admin/members') УЧАСТНИКИ
					a(href='/admin/partners') ПАРТНЕРЫ
					a(href='/admin/cv') CV
				.sub_menu_block
					block sub_menu
			.content_block
				block content